*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.togglOn{
  display: block;
}

.toggleOff{
  display: none;
}

.cont{
  background-color: silver;
  
}

.toggler1{
  font-size: 3rem;
}
.toggler2{
  font-size: 3rem;
  height: 100vh;
}

